---

---

<footer class="p-footer -bg-primary" id="operation">
  <div class="l-container l-spacer">
    <div class="flex" data-align="justify">
      <div class="flex__item" data-grid="sp12 lapAuto" data-align="bottom">
        <p class="p-logo -secondary">青森県五所川原市</p>
        <ul class="flex" data-gutter="normal">
          <li class="flex__item sp12 tab12 lapAuto">
            主催：五所川原立佞武多運営委員会
          </li>
          <li class="flex__item sp12 tab12 lapAuto">
            お問合せ：五所川原商工会議所（0173-35-2121）
          </li>
          <li class="flex__item sp12 tab12 lapAuto">
            （一社）五所川原市観光協会（0173-38-1515）
          </li>
        </ul>
      </div>
      <div class="flex__item" data-grid="sp12 lapAuto" data-align="bottom">
        <p class="p-copyright">
          <small lang="en"><a href="/privacy">プライバシーポリシー</a></small>
        </p>
      </div>
    </div>
  </div>
</footer>
