<section class="l-spacer -primary -bgWhite" id="gallery">
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <div class="flex" data-gutter="normal" data-dir="reverse">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2024」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128231/tachineputa/_RB_0594_lejsff.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128231/tachineputa/_RB_0594_lejsff.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128231/tachineputa/_RB_0594_lejsff.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128328/tachineputa/_RB_1731_wkgc3x.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128328/tachineputa/_RB_1731_wkgc3x.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128328/tachineputa/_RB_1731_wkgc3x.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127284/tachineputa/_RA_0847_v5od82.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127284/tachineputa/_RA_0847_v5od82.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127284/tachineputa/_RA_0847_v5od82.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127282/tachineputa/_RB_1735_sxou20.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127282/tachineputa/_RB_1735_sxou20.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127282/tachineputa/_RB_1735_sxou20.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127286/tachineputa/_RB_1762_x7sfe7.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127286/tachineputa/_RB_1762_x7sfe7.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127286/tachineputa/_RB_1762_x7sfe7.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127285/tachineputa/_RB_1002_aagtut.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127285/tachineputa/_RB_1002_aagtut.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127285/tachineputa/_RB_1002_aagtut.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127293/tachineputa/_RB_0798_yerpbf.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127293/tachineputa/_RB_0798_yerpbf.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127293/tachineputa/_RB_0798_yerpbf.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127295/tachineputa/_RA_0804_o355sa.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127295/tachineputa/_RA_0804_o355sa.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127295/tachineputa/_RA_0804_o355sa.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127286/tachineputa/_RA_0941_swqppg.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127286/tachineputa/_RA_0941_swqppg.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127286/tachineputa/_RA_0941_swqppg.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127284/tachineputa/_RB_0872_xa6t7r.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127284/tachineputa/_RB_0872_xa6t7r.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127284/tachineputa/_RB_0872_xa6t7r.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127290/tachineputa/_RA_0946_fapgjj.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127290/tachineputa/_RA_0946_fapgjj.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724127290/tachineputa/_RA_0946_fapgjj.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128944/tachineputa/_RB_1945_wkfxhu.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128944/tachineputa/_RB_1945_wkfxhu.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128944/tachineputa/_RB_1945_wkfxhu.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128941/tachineputa/_RB_2076_gesc0x.jpg"
                  srcset="
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128941/tachineputa/_RB_2076_gesc0x.jpg,
							https://res.cloudinary.com/dpd2jenj9/image/upload/v1724128941/tachineputa/_RB_2076_gesc0x.jpg 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2023」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_1.webp"
                  srcset="
							/images/img-tachineputa-2023_1.webp,
							/images/img-tachineputa-2023_1.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_14.webp"
                  srcset="
							/images/img-tachineputa-2023_14.webp,
							/images/img-tachineputa-2023_14.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_15.webp"
                  srcset="
							/images/img-tachineputa-2023_15.webp,
							/images/img-tachineputa-2023_15.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_4.webp"
                  srcset="
							/images/img-tachineputa-2023_4.webp,
							/images/img-tachineputa-2023_4.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_5.webp"
                  srcset="
							/images/img-tachineputa-2023_5.webp,
							/images/img-tachineputa-2023_5.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_17.webp"
                  srcset="
							/images/img-tachineputa-2023_17.webp,
							/images/img-tachineputa-2023_17.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_7.webp"
                  srcset="
							/images/img-tachineputa-2023_7.webp,
							/images/img-tachineputa-2023_7.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_8.webp"
                  srcset="
							/images/img-tachineputa-2023_8.webp,
							/images/img-tachineputa-2023_8.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_9.webp"
                  srcset="
							/images/img-tachineputa-2023_9.webp,
							/images/img-tachineputa-2023_9.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_10.webp"
                  srcset="
							/images/img-tachineputa-2023_10.webp,
							/images/img-tachineputa-2023_10.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_11.webp"
                  srcset="
							/images/img-tachineputa-2023_11.webp,
							/images/img-tachineputa-2023_11.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_12.webp"
                  srcset="
							/images/img-tachineputa-2023_12.webp,
							/images/img-tachineputa-2023_12.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa-2023_13.webp"
                  srcset="
							/images/img-tachineputa-2023_13.webp,
							/images/img-tachineputa-2023_13.webp
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal" data-dir="reverse">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2022」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_01.webp"
                  srcset="
							/images/img-tachineputa22_01.webp,
							/images/img-tachineputa22_01.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_02.webp"
                  srcset="
							/images/img-tachineputa22_02.webp,
							/images/img-tachineputa22_02.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_03.webp"
                  srcset="
							/images/img-tachineputa22_03.webp,
							/images/img-tachineputa22_03.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_04.webp"
                  srcset="
							/images/img-tachineputa22_04.webp,
							/images/img-tachineputa22_04.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_05.webp"
                  srcset="
							/images/img-tachineputa22_05.webp,
							/images/img-tachineputa22_05.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_06.webp"
                  srcset="
							/images/img-tachineputa22_06.webp,
							/images/img-tachineputa22_06.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_07.webp"
                  srcset="
							/images/img-tachineputa22_07.webp,
							/images/img-tachineputa22_07.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_08.webp"
                  srcset="
							/images/img-tachineputa22_08.webp,
							/images/img-tachineputa22_08.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_09.webp"
                  srcset="
							/images/img-tachineputa22_09.webp,
							/images/img-tachineputa22_09.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_10.webp"
                  srcset="
							/images/img-tachineputa22_10.webp,
							/images/img-tachineputa22_10.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_11.webp"
                  srcset="
							/images/img-tachineputa22_11.webp,
							/images/img-tachineputa22_11.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_12.webp"
                  srcset="
							/images/img-tachineputa22_12.webp,
							/images/img-tachineputa22_12.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22_13.webp"
                  srcset="
							/images/img-tachineputa22_13.webp,
							/images/img-tachineputa22_13.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多秋の陣」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa01@2x.webp"
                  srcset="
							/images/img-tachineputa01@2x.webp,
							/images/img-tachineputa01@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa02@2x.webp"
                  srcset="
							/images/img-tachineputa02@2x.webp,
							/images/img-tachineputa02@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa03@2x.webp"
                  srcset="
							/images/img-tachineputa03@2x.webp,
							/images/img-tachineputa03@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa04@2x.webp"
                  srcset="
							/images/img-tachineputa04@2x.webp,
							/images/img-tachineputa04@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa05@2x.webp"
                  srcset="
							/images/img-tachineputa05@2x.webp,
							/images/img-tachineputa05@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa06@2x.webp"
                  srcset="
							/images/img-tachineputa06@2x.webp,
							/images/img-tachineputa06@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa07@2x.webp"
                  srcset="
							/images/img-tachineputa07@2x.webp,
							/images/img-tachineputa07@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa08@2x.webp"
                  srcset="
							/images/img-tachineputa08@2x.webp,
							/images/img-tachineputa08@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa09@2x.webp"
                  srcset="
							/images/img-tachineputa09@2x.webp,
							/images/img-tachineputa09@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa10@2x.webp"
                  srcset="
							/images/img-tachineputa10@2x.webp,
							/images/img-tachineputa10@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa11@2x.webp"
                  srcset="
							/images/img-tachineputa11@2x.webp,
							/images/img-tachineputa11@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa12@2x.webp"
                  srcset="
							/images/img-tachineputa12@2x.webp,
							/images/img-tachineputa12@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa13@2x.webp"
                  srcset="
							/images/img-tachineputa13@2x.webp,
							/images/img-tachineputa13@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal" data-dir="reverse">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2019」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa14@2x.webp"
                  srcset="
							/images/img-tachineputa14@2x.webp,
							/images/img-tachineputa14@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp6" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa15@2x.webp"
                  srcset="
							/images/img-tachineputa15@2x.webp,
							/images/img-tachineputa15@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa16@2x.webp"
                  srcset="
							/images/img-tachineputa16@2x.webp,
							/images/img-tachineputa16@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa17@2x.webp"
                  srcset="
							/images/img-tachineputa17@2x.webp,
							/images/img-tachineputa17@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa18@2x.webp"
                  srcset="
							/images/img-tachineputa18@2x.webp,
							/images/img-tachineputa18@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab3"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa19@2x.webp"
                  srcset="
							/images/img-tachineputa19@2x.webp,
							/images/img-tachineputa19@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa20@2x.webp"
                  srcset="
							/images/img-tachineputa20@2x.webp,
							/images/img-tachineputa20@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa21@2x.webp"
                  srcset="
							/images/img-tachineputa21@2x.webp,
							/images/img-tachineputa21@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp6 tab4"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa22@2x.webp"
                  srcset="
							/images/img-tachineputa22@2x.webp,
							/images/img-tachineputa22@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li
              class="flex__item roll"
              data-grid="sp12 tab8"
              data-type="slideUpIn"
            >
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa23@2x.webp"
                  srcset="
							/images/img-tachineputa23@2x.webp,
							/images/img-tachineputa23@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa24@2x.webp"
                  srcset="
							/images/img-tachineputa24@2x.webp,
							/images/img-tachineputa24@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa25@2x.webp"
                  srcset="
							/images/img-tachineputa25@2x.webp,
							/images/img-tachineputa25@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
            <li class="flex__item roll" data-grid="sp4" data-type="slideUpIn">
              <figure class="c-card p-gallery">
                <img
                  class="c-card__image p-gallery__image"
                  src="/images/img-tachineputa26@2x.webp"
                  srcset="
							/images/img-tachineputa26@2x.webp,
							/images/img-tachineputa26@2x.webp 2x
						  "
                  alt=""
                  decoding="async"
                />
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
