<section class="l-spacer -primary -bg-primary bg-gradient p-relative" id="live">
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <h2
        class="c-heading -secondary -center roll text-white"
        lang="en"
        data-type="standUpIn"
        data-duration="fast"
      >
        <span>2024年&nbsp;立佞武多&nbsp;ライブ動画</span>
      </h2>

      <div class="l-spacer -top">
        <ul class="flex" data-gutter="normal" data-align="center">
          <li
            class="flex__item roll"
            data-grid="lapAuto sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="960"
              height="540"
              src="https://www.youtube.com/embed/--vgtHYg0fE?si=sflx6rVcZBCUf9DQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
            <p style="color:#FFF;">
              注意: 動画のダウンロード、再利用、または再配布は禁止されています
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <h2
        class="c-heading -secondary -center roll text-white"
        lang="en"
        data-type="standUpIn"
        data-duration="fast"
      >
        <span>2023年&nbsp;立佞武多&nbsp;ライブ動画</span>
      </h2>
      <div class="l-spacer -top">
        <ul class="flex" data-gutter="normal" data-align="center">
          <li
            class="flex__item roll"
            data-grid="lapFive sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/_7y41Mdatb4"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lapFive sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/DiZiCPE0TAs"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lapFive sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/aCkW77NY4os"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lapFive sp12"
            data-type="slideUpIn"
          >
            <video width="100%" height="100%" controls>
              <source
                src="https://res.cloudinary.com/dpd2jenj9/video/upload/v1725408085/tachineputa/2023_oab4wa.mp4"
                type="video/mp4"
              />
              お使いのブラウザはvideoタグをサポートしていません。
            </video>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <h2
        class="c-heading -secondary -center roll text-white"
        lang="en"
        data-type="standUpIn"
        data-duration="fast"
      >
        <span>2022年&nbsp;立佞武多&nbsp;ライブ動画</span>
      </h2>
      <div class="l-spacer -top">
        <ul class="flex" data-gutter="normal" data-align="center">
          <li
            class="flex__item roll"
            data-grid="lap2 sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/F31ZM08XNMk"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lap2 sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/lA146ElXhk0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lap2 sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/Cstz7P0UgXk"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lap2 sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/JeGxy9WFv3A"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lap2 sp12"
            data-type="slideUpIn"
          >
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/ElCNIpb1eq8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""></iframe>
          </li>
          <li
            class="flex__item roll"
            data-grid="lap2 sp12"
            data-type="slideUpIn"
          >
            <video width="100%" height="100%" controls>
              <source
                src="https://res.cloudinary.com/dpd2jenj9/video/upload/v1725409171/tachineputa/2022_comp_fwxx5g.mp4"
                type="video/mp4"
              />
              お使いのブラウザはvideoタグをサポートしていません。
            </video>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
