---
const nav = [
  {
    href: "/#about",
    label: "開催概要",
  },
  {
    href: "/#news",
    label: "お知らせ",
  },
  {
    href: "/#departure",
    label: "出陣立佞武多",
  },
  {
    href: "/#gallery",
    label: "フォトギャラリー",
  },
  {
    href: "/#live",
    label: "ライブ動画",
  },
];
---

<header class="l-header p-header">
  <div class="l-container">
    <div class="flex" data-align="justify">
      <div class="flex__item" data-align="middle">
        <h1 class="p-header__title l-spacer -center">
          <a class="p-logo font-1rem" href="/">GOSHOGAWARA<br />TACHINEPUTA</a>
        </h1>
      </div>
      <div class="flex__item">
        <nav class="p-header__nav">
          <button
            class="js-drawer p-hamburger"
            type="button"
            aria-expanded="false"
            aria-controls="globalNav"
          >
            <span class="p-hamburger__line"
              ><span class="u-visuallyHidden">メニューを開閉</span></span
            >
          </button>
          <div class="p-drawer">
            <h2 class="u-visuallyHidden">サイト内メニュー</h2>
            <div class="p-globalNav" id="globalNav">
              <ul class="flex" data-gutter="normal" data-align="middle">
                {
                  nav.map((nav_item) => (
                    <li class="flex__item" data-grid="sp12 lapAuto">
                      <a href={nav_item.href}>{nav_item.label}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>